* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif, 'Helvetica Neue', sans-serif;
  }

  @media only screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        background-color: black;
        font-size: x-small;
        position: fixed;
        top: 0;
        margin-bottom: 2em;
        text-align: center;
        height: 10%;
    }

    nav h4 {
        margin: .2em 0; 
        color: chartreuse;       
    }

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .comm p {
        margin: .3em;
        width: 30%;
        display: flex;
        flex-direction: column;
        color: chartreuse;
    }

    .comm p img {
        height: 1em;
        width: 1em;
        align-self: center;
        margin-bottom: .5em;
    }

    img {
        width: 100%;
    }

    header {
        margin-top: 4em;
        text-align: center;
        padding: .5em;
    }

    
    header img { 
        width: 75%;
    }

    #me {
        width: 30%;
        height: 10em;
        border: 1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        padding: .7em 2em;
        font-size: smaller;
    }

    .stack {
        display: flex;
        justify-content: space-around;
        font-size: smaller;     
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: 1em;
        background: #000;
        color: chartreuse;
    }

    main {
        font-size: small;
        padding: 2em;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        color: chartreuse;
        background: #000;
    }

    article ul {
        margin-bottom: 1em;
        font-size: small;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin-bottom: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }
    

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }
    aside {
        visibility: hidden;
    }

    footer {
        background: #000;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
    }

    .socials {
        color: chartreuse;
        font-size: x-small;
        width: 45%;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 1.3em;
        height: 1.3;
        margin-top: 1em;
    }
  }

  @media only screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        background-color: black;
        font-size: smaller;
        position: fixed;
        top: 0;
        margin-bottom: 2em;
        text-align: center;
        height: 15%;
    }

    nav h4 {
        margin: .2em 0; 
        color: chartreuse;       
    }

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .comm p {
        margin: .3em;
        width: 30%;
        display: flex;
        flex-direction: column;
        color: chartreuse;
    }

    .comm p img {
        height: 1em;
        width: 1em;
        align-self: center;
        margin-bottom: .5em;
    }

    img {
        width: 100%;
    }

    header {
        margin-top: 5.5em;
        text-align: center;
        padding: .5em;
    }

    #me {
        width: 40%;
        height: 12em;
        border: 1px solid #000;
        border-radius: 50%;
    }
    
    header img { 
        width: 75%;
    }

    header p {
        text-align: justify;
        padding: .7em 2em;
        font-size: small;
    }

    .stack {
        display: flex;
        justify-content: space-around;
        font-size: small;     
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: 1em;
        background: #000;
        color: chartreuse;
    }

    main {
        font-size: medium;
        padding: 2em;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        color: chartreuse;
        background: #000;
    }

    article ul {
        margin-bottom: 1em;
        font-size: medium;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin-bottom: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0;
        
    }
    
    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }
    aside {
        visibility: hidden;
    }

    footer {
        background: #000;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: 1em;
    }

    .socials {
        color: chartreuse;
        font-size: small;
        width: 45%;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 1.3em;
        height: 1.3;
        margin-top: 1em;
    }
  }

  @media only screen and (max-width: 1024px) {
    body {
        width: 100%;
        height: 100%;
    }
    
    nav {
        width: 100%;
        background-color: black;
        font-size: smaller;
        position: fixed;
        top: 0;
        margin-bottom: 2em;
        text-align: center;
        height: 15%;
    }

    nav h4 {
        margin: .2em 0; 
        color: chartreuse;       
    }

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .comm p {
        margin: .3em;
        width: 30%;
        display: flex;
        flex-direction: column;
        color: chartreuse;
    }

    .comm p img {
        height: 1em;
        width: 1em;
        align-self: center;
        margin-bottom: .5em;
    }

    img {
        width: 100%;
    }

    header {
        margin-top: 5.5em;
        text-align: center;
        padding: .5em;
    }

    #me {
        width: 40%;
        height: 15em;
        border: 1px solid #000;
        border-radius: 50%;
    }

    header img { 
        width: 75%;
    }

    header p {
        text-align: justify;
        padding: .7em 2em;
        font-size: small;
    }

    .stack {
        display: flex;
        justify-content: space-around;
        font-size: small;     
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: 1em;
        background: #000;
        color: chartreuse;
    }

    main {
        font-size: medium;
        padding: 2em;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        color: chartreuse;
        background: #000;
    }

    article ul {
        margin-bottom: 1em;
        font-size: medium;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin-bottom: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0;
        
    }
    
    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }
    aside {
        visibility: hidden;
    }

    footer {
        background: #000;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: 1em;
    }

    .socials {
        color: chartreuse;
        font-size: small;
        width: 45%;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 1.3em;
        height: 1.3;
        margin-top: 1em;
    }
  }

  